.wishlist-table
{
    display: flex;
    height: 88vh;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.iwishlist
{
    font-size: 60px;
    margin: 15px 0;
}
.wishlist-tab
{
    margin-top: 10px;
}
.wishlist-remove
{
    font-size: 20px;
    margin-right: 10px;
    color: red;
    cursor: pointer;
}