.navbar {
  display: flex;
  height: 70px;
  justify-content: space-between;
  align-items: center;
  color: white;
  user-select: none;
  margin-right: 10px;
}
.logoNav {
  cursor: pointer;
  margin-left: 50px;
}
.menuBar {
  display: flex;
  margin-top: 10px;
}
.menu
{
    cursor: pointer;
    display: flex;
    flex-direction: column;
}
.menuline
{
    /* position: absolute; */
    width: fit-content;
    height: 2px;
    background-color: white;
}
.menuBar div {
  margin-right: 120px;
}

.searchCart {
  display: flex;
}
input[type="text"] {
  position: absolute;
  right: 15%;
  width: 100px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  margin-top: 8px;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: url("../../images/magnifier.png");
  background-position: 48vw 5px;
  background-repeat: no-repeat;
  padding: 3px 20px 3px 20px;
  transition: width 0.2s ease-in-out;
}

input[type="text"]:focus {
  width: 50vw;
  outline: none;
  right: 24%;
}

.cartDiv {
  margin: 3px 30px;
  position: relative;
  cursor: pointer;
}
.badge {
  position: absolute;
  left: 25px;
}
.profileDiv {
  margin: 12px 30px;
  cursor: pointer;
}
.profile {
  font-size: 24px;
}
@media screen and (max-width: 680px) {
  .logoNav {
    margin-left: -10px;
  }
  .logoNav img {
    width: 50%;
  }
  .menuBar li {
    margin-right: 12px;
  }
  .menuBar {
    display: flex;
    margin-top: 10px;
    margin-left: -100px;
  }
}
@media screen and (min-width: 680px) and (max-width: 840px) {
}
@media screen and (min-width: 840px) and (max-width: 1048px) {
}
@media screen and (min-width: 1048px) and (max-width: 1200px) {
}
