.forget-modalDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  user-select: none;
}
.forget-icon {
  font-size: 24px;
  bottom: 10%;
}
.forget-inputDiv {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 50px;
  width: 300px;
  margin-top: 10px;
}
.forget-input {
  border: none;
  border-bottom: 2px solid #999;
  padding-top: 20px;
  padding-left: 45px;
}
.forget-button {
  border: none;
  background-color: rgba(254, 77, 1, 255);
  color: white;
  padding: 10px 50px 10px 50px;
  margin-left: 10px;
  margin-top: 10px;
}
.forget-label {
  position: absolute;
  bottom: 5%;
  left: 15%;
  font-size: 18px;
  pointer-events: none;
}
.forget-input::placeholder {
  color: transparent;
  user-select: none;
}

.forget-input:focus {
  outline: none;
  border-color: #11998e;
}
.forget-input:focus::placeholder {
  color: #999;
}
.forget-input:focus ~ label {
  top: 0%;
  font-size: 14px;
}
.forget-input:not(:placeholder-shown) ~ label {
  top: 0%;
  font-size: 14px;
}
